<style>
  :root {
    /* Primary theme color */
    --primary-color: #86bbd8;
    /* Primary theme text color */
    --primary-text-color: #2f4858;
    /* Primary theme link color */
    --primary-link-color: #336699;
    /* Secondary color: the background body color */
    --secondary-color: #d0e3ee;
    --secondary-text-color: #303030;
    /* Light background */
    --light-color: #edf6fb;
    /* Highlight text color of table of content */
    --toc-highlight-text-color: #336699;
    --toc-highlight-background-color: var(--light-color);
  }
</style>
