{% extends "juice/templates/index.html" %}
{% block hero %}
<script async defer src="https://buttons.github.io/buttons.js"></script>
<style>
  .welcome {
    animation: welcome-animation 1s cubic-bezier(0.25, 0.1, 0.25, 1) both;
    animation-delay: 0.25s;
  }

  .hero-image {
    animation: logo-animation 2s cubic-bezier(0.25, 0.1, 0.25, 1) both;
  }

  .explore-more, .logo, nav {
    animation: fade-in-animation 1.5s cubic-bezier(0.25, 0.1, 0.25, 1) both;
    animation-delay: 0.5s;
  }

  @keyframes logo-animation {
    0% {
      transform: rotateY(-40deg) rotateZ(90deg) translateX(-50%);
      filter: blur(50px);
      opacity: 0;
    }
    50% {
      filter: blur(0);
    }
    70% {
      opacity: 1;
      transform: rotateY(-10deg) rotateZ(10deg) translateX(5%);
    }
    100% {
      transform: rotateY(0) rotateZ(0) translateX(0);
    }
  }

  @keyframes fade-in-animation {
    0% {
      filter: blur(10px);
      opacity: 0;
    }
    30% {
      filter: blur(0);
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes welcome-animation {
    0% {
      transform: translateY(60%);
      filter: blur(10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
    }
  }

  .hero section {
    padding: 0 5rem;
  }
  @media screen and (max-width: 768px) {
    .hero section {
      padding: 0 2rem;
    }

    .hero-image {
      display: none;
    }
  }
</style>
<section class="text-center welcome">
  <h1 class="heading-text" style="font-size: 50px">Insta Snapshots</h1>
  <h3 class="title-text">
    <b>Insta</b> is an enjoyable snapshot testing tool for Rust.
  </h3>
  <p>
    <a class="github-button" href="https://github.com/mitsuhiko/insta" data-size="large" data-show-count="true" aria-label="Star mitsuhiko/insta on GitHub">Star</a>
    <a class="github-button" href="https://github.com/sponsors/mitsuhiko" data-size="large" data-icon="octicon-heart" aria-label="Sponsor @mitsuhiko on GitHub">Sponsor</a>
  </p>
</section>
<img class="hero-image" style="width: 35%" src="{{ get_url(path="logo.png") }}">

<div
  class="explore-more text"
  onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})"
>Learn More ⇣</div>
{% endblock %}

{% block footer %}
<footer>
  <span>
    Created by <a href="https://lucumr.pocoo.org/">Armin Ronacher</a>
  </span>
  <span><a href="https://github.com/mitsuhiko/insta">Github</a></span>
  <span><a href="https://github.com/mitsuhiko/insta/issues">Issues</a></span>
  <span><a href="https://docs.rs/insta">API Documentation</a></span>
  <span><a href="/similar/">Similar</a></span>
  <span><a href="https://crates.io/crates/io">Crate</a></span>
</footer>
{% endblock footer %}
